{
  "base_url": "https://ashina-motors.com/shop/",
  "login": {
    "enabled": false,
    "url": "https://ashina-motors.com/my-account/edit-account/",
    "username": "",
    "password": "",
    "selectors": {
      "username": "#username",
      "password": "#password",
      "submit": "button[name='login']"
    }
  },
  "max_threads": 5,
  "timeout": 10,
  "headless": true,
  "page_load_delay": 2,
  "output_dir": "output",
  "images_dir": "images",
  "download_images": true,
  "fields": [
    "title",
    "price",
    "description",
    "sku",
    "oem",
    "images",
    "categories",
    "url"
  ],
  "selectors": {
    "product_links": "li.product a.woocommerce-LoopProduct-link",
    "title": "h1.product_title",
    "price": "p.price",
    "description": ".woocommerce-product-details__short-description",
    "sku": ".sku",
    "oem": "p.oem",
    "images": ".woocommerce-product-gallery__image img",
    "categories": ".posted_in a",
    "pagination_next": "a.next.page-numbers"
  },
  "database": {
    "enabled": false,
    "host": "localhost",
    "port": 3306,
    "user": "root",
    "password": "",
    "database": "scraped_products",
    "table_prefix": "wp_"
  }
}
